.iphone_12 {
    background: #FBFBFD;
    padding: 60px 0 10px;
}
.iphone_12 h1{
    font-size: 60px;
}
.iphone_12 h2{
    font-size: 21px;
    font-weight: 500;
    margin:10px 0;
}
.phone_buy {
    margin-bottom: 50px;
    font-size: 18px;
}
.phone_buy a{
    text-decoration: none;
    color: #06c;
    margin-right: 20px;
    font-weight: 600;
}
.iphone_12__inner, .watch__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iphone_12-pro, .watch {
    background: #000;
    padding: 55px 0 24px;
    color: #fff;
}
.iphone_12-pro h1{
    font-size: 41px;
}
.iphone_12-pro h2{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 24px;
}
.line {
    display: block;
    height: 10px;
}
.watch__inner {
    padding:40px 0 35px;
}
.watch h1 {
    font-size: 41px;
}
.watch h2 {
    margin: 20px 0;
}
.watch__decrip {
    display: flex;
    align-items: flex-end;
    color: #A1A1A6;
}
.watch__decrip img {
    margin-right: 10px;
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    margin: 10px;
}
.carts {
    text-align: center;
}
.dark {
    background: #000;
    color: #fff;
}
.carts h3 {
    margin-top: 60px;
    font-size: 28px;
}
.carts p {
    font-size: 18px;
    max-width: 300px;
    text-align: center;
    margin: 18px auto 21px;
}
.light {
    background: #FBFBFD;
}
.Arcade {
    background: url('../img/home/games.jpg');
    background-position: top;
    color: #fff;
    height: 580px;
}
.Arcade a {
    color: #fff;
}
.TV {
    background: url('../img/home/moves.jpg');
    height: 580px;
    color: #fff;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.TV a {
    margin-bottom: 38px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TV p {
    margin-top: 129px;
}
.play {
    margin-left: 10px;
}
.decript__footer {
    background: #F5F5F7;
    padding: 21px 0;
    overflow: hidden;
}
.decript__footer-inner {
    border-bottom: 1px solid #D2D2D7;
    padding-bottom: 10px;
}
.decript__footer p {
    margin-bottom: 15px;
    color: #86868B;
}

