*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.svg_lol {
    width: 16px;
}

.container {
    margin: 0 auto;
    max-width: 980px;
}

.header {
    background: rgba(0,0,0,0.92);
    position: fixed;
    width: 100%;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    color: #CCC;
    text-decoration: none;
}

.nav a:hover{
    color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer {
    background: #F5F5F7;
    font-size: 12px;
}
.footer ul{
    list-style: none;
}
.footer li{
   margin-bottom: 8px;
}

.footer__inner a{
    text-decoration: none;
    color: black;
    font-size: 14px;

}
.footer__inner a:hover{
    text-decoration: underline;
}
.footer .footer__title{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.footer__offical {
    border-bottom: 1px solid #D2D2D7;
    padding-bottom: 10px;
    color: #86868B;
}
.footer__offical a{
    text-decoration: none;
}
.footer__offical a:hover{
    text-decoration: underline;
}
.footer__copi {
    margin-top: 10px;
    color: #86868B;
}
.footer__nav {
    padding-bottom: 30px;
}
.footer__nav li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid #86868B;
}
.footer__nav li:hover{
    text-decoration: underline;
}
.footer__nav li:last-child{
    border-right: none;
}

.footer__nav a{
   text-decoration: none;
   color: #515154;

}